---
layout: base.njk
title: Home
---

<h1>
    {{ title }}
</h1>

<p>I work as an Interaction Design Lead on the UX team at Regions Bank. Currently, I’m focusing my efforts on enterprise-wide design initiatives and design team operations from my home office in Cookeville, TN.</p>

<p>I bring senior-level UX/UI design direction while also executing accessible HTML and modern CSS. I love learning new things, and right now I’m practicing design team management and improving my JavaScript skills.</p>

<p>I studied industrial design at Georgia Tech and typography at Savannah College of Art and Design while gaining real-world work experience at CNN and Turner Broadcasting. In my free time, I enjoy creative activities like playing guitar, sewing, and photography.</p>
<p>View my portfolio and resume to learn more about my work and contact me if you’d like to talk.</p>

{% include "_components/post-nav.njk" %}
