---
title: Base Template
preTitle: Andrew Harvard
siteTitle: My Site
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{preTitle}} :: {{ title }}</title>
  </head>
  <body>
    {% include "_components/header.njk" %}
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>